<!doctype html>
<html>
  <head>
    {% block title %}
      <title>Quite Possibly the Dopest Web App in Existence| Built with Flask.</title>
    {% endblock %}
  </head>

  <body>

    <!-- SITE NAVIGATION -->
    <div class="container">
      <div id="nav">
        {% block nav %}
          <h1><a href="/">Will's Amazing Web App</a></h1>
          <ul>
            <li><a href="/books">Books Page</a></li>
            <li><a href="/books/new">New Book Form</a></li>
            <li><a href="/user">List of Users</a></li>
          </ul>
        {% endblock %}
      </div>
      <hr>

      <!-- PAGE CONTENTS -->
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      <!-- FOOTER -->
      <div id="footer">
        <hr>
        &copy; Copyright 2020 Will SN |
        <a href="https://github.com/willstauffernorris/">GitHub</a>
      </div>
    </div>

  </body>
</html>